<!-- splash.page.html -->
<ion-content>
  <!-- Background image that covers the whole screen -->
  <img src="/assets/background_japan.jpg" alt="Background Image">

  <!-- Editable content on top of the background -->
  <div class="card-container">
    <h1>Your Card Content</h1>
    <h1 class="appname">Loom</h1>
    <p>Some additional information or actions can go here.</p>

    <!-- Button container for navigation -->
    <div class="button-container">
      <button class="b1" (click)="navigateToLogin()">Log in</button>
      <button class="b2" (click)="navigateToSignup()">Sign up</button>
    </div>
  </div>
</ion-content>
